.container{
    background: #323232;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    padding: 10px;
    -webkit-app-region: drag;
}

.container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    font-weight: bolder;
    position: absolute;
    left: 10px;
}

.title{
    font-weight: 100;
    font-size: 1rem !important;
    font-size: small;
}

.buttons{
    position: absolute;
    right: 0px;
}