@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    user-select: none;
    font-family: 'Roboto', Verdana;
    color: rgba(255,255,255,0.8);
    overflow: hidden;
    outline: none;
    box-sizing: border-box !important;
}

button{
    cursor: pointer;
}

img{
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}